/* 头尾各个页面相同的样式 */

/* 版心 */
.wrapper {
    margin: 0 auto;
    width: 1240px;                                                                                                                                  
}

/* 快捷导航 */
.shortcut {
    height: 52px;
    background-color: #333;
}

.shortcut .wrapper {
    display: flex;
    justify-content: flex-end;
    height: 52px;
    /* background-color: pink; */
}

.shortcut ul {
    display: flex;
    line-height: 52px;
    font-size: 14px;
}

.shortcut ul li a {
    padding: 0 15px;
    border-right: 1px solid #999;
    color: #FFF;
}

.shortcut ul li:last-child a {
    border-right: none;
}

.shortcut ul li .login {
    color: #5EB69C;
}

.shortcut ul li .iconfont {
    margin-right: 4px;
    vertical-align: middle;
}

/* 头部 */
.header {
    display: flex;
    height: 88px;
    /* background-color: greenyellow; */
    margin-top: 22px;
    margin-bottom: 22px;
}

.header .logo a {
    display: block;
    width: 200px;
    height: 88px;
    margin-right: 40px;
    /* background-color: yellow; */
    font-size: 0;
    background-image: url(../images/logo.png);
}

/* 导航区域 */
.header .nav {
    margin-top: 33px;
    margin-right: 75px;
    width: 673px;
    /* background-color: red; */
}

.header .nav ul {
    display: flex;
    justify-content: space-between;
    /* font-size: 16px;  base.css设置了*/
}

.header .nav ul a {
    padding-bottom: 10px;
}

.header .nav li a:hover {
    color: #5EB69C;
    border-bottom: #5EB69C solid 1px;
}

/* 搜索框 */
.header .search {
    display: flex;
    margin-top: 23px;
    margin-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 170px;
    height: 42px;
    align-items: center;
    /* background-color: red; */
    border-bottom: #F4F4F4 solid 2px;
}

.header .search .iconfont {
    color: #ccc;
    font-size: 18px;
    margin-right: 8px;
}

.header .search input {
    /* 用于清除浏览器input默认宽度, 使flex 1 生效 */
    width: 0;
    flex: 1;
    height: 22px;
}

.header .search input::placeholder {
    color: #ccc;
    font-size: 16px;
}

/* 购物车 */
.cart {
    position: relative;
    margin-top: 22px;
}

.cart .iconfont {
    cursor: pointer;
    font-size: 24px;
}

.cart i {
    position: absolute;
    /* 宽靠内容撑开 */
    padding-right: 6px;
    padding-left: 6px;
    background-color: #E26237;
    height: 15px;
    left: 13px;
    top: 1px;
    border-radius: 7.5px;
    color: #FFFEFE;
    font-size: 14px;
    line-height: 15px;
}

/* 底部 */
.footer {
    background-color: #F5F5F5;
    height: 580px;
}

/* 服务 */
.footer .service {
    padding-top: 60px;
    padding-bottom: 60px;
    height: 180px;
    border-bottom: 1px solid #E8E8E8;
}

.footer .service ul {
    display: flex;
    justify-content: space-evenly;
}

.footer .service li {
    display: flex;
    width: 190px;
    height: 58px;
}

.footer .service li h5 {
    width: 58px;
    height: 58px;
    margin-right: 20px;
    background-image: url(../images/sprite.png);
}

.footer .service li:nth-child(2) h5 {
    background-position: 0 -58px;
}
.footer .service li:nth-child(3) h5 {
    background-position: 0 -116px;
}
.footer .service li:nth-child(4) h5 {
    background-position: 0 -174px;
}

.footer .service li p {
    font-size: 28px;
    line-height: 58px;
}

/* 帮助中心 */
.footer .help {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    height: 300px;
}

/* 帮助中心左侧区域 */
.footer .help .left {
    display: flex;
}

.footer .help .left dl {
    margin-right: 84px;
}
.footer .help .left dl:last-child {
    margin-right: 0;
}

.footer .help .left dt {
    margin-bottom: 30px;
    font-size: 18px;
    color: #333333;
}

.footer .help .left dd a{
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #969696;
}

.footer .help .left .iconfont {
    color: #00BE9A ;
}

/* 帮助中心右侧区域 */
.footer .help .right ul {
    display: flex;
}

.footer .help .right ul li:first-child {
    margin-right: 55px;
}

.footer .help .right ul .pic {
    width: 120px;
    height: 120px;
}

.footer .help .right ul p {
    margin-top: 10px;
    color: #969696;
    text-align: center;
}

/* 版权区域 */
.footer .copyright {
    font-size: 16px;
    color: #A1A1A1;
    text-align: center;
    height: 60px;
}

.footer .copyright p {
    margin-bottom: 10px;
}

.footer .copyright a {
    margin: 0 10px;
    color: inherit;
}