/* 首页内容样式 */

/* banner */
.banner {
    height: 500px;
    background-color: #F5F5F5;
}

.banner .wrapper {
    position: relative;
    height: 500px;
    overflow: hidden;
    /* background-color: yellowgreen; */
}

.banner .wrapper .pic {
    display: flex;
    /* flex布局 避免子级被挤小 1240*3 */
    width: 3720px;
}

/* 侧导航 */
.banner .wrapper .subnav {
    position: absolute;
    width: 250px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.42);
    top: 0;
    left: 0;
}

.banner .wrapper .subnav li {
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    padding-right: 12px;
    cursor: pointer;
}

.banner .wrapper .subnav li a {
    color: #fff;
    font-size: 14px;
    margin-right: 5px;
}

.banner .wrapper .subnav li .banner-title {
    font-size: 16px;
    margin-right: 14px;

}

.banner .wrapper .subnav li .iconfont {
    font-size: 12px;
    color: #fff;
}

.banner .wrapper .subnav li:hover {
    background-color: #00BE9A;
}

.banner ol {
    display: flex;
    position: absolute;
    bottom: 17px;
    right: 16px;
}

.banner ol li {
    width: 22px;
    height: 22px;
    /* background-color: pink; */
    border-radius: 50%;
    margin-left: 8px;
    cursor: pointer;
}

.banner ol i {
    margin: 4px;
    display: block;
    width: 14px;
    height: 14px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.banner ol .active {
    background-color: rgba(255, 255, 255, 0.5);
}
.banner ol .active i {
    background-color: #fff;
}


/* 新鲜好物 */
/* 标题 -- 公共样式*/
.title {
    display: flex;
    justify-content: space-between;
    height: 42px;
    /* background-color: greenyellow; */
    margin-top: 40px;
    margin-bottom: 30px;
}

.title .left {
    display: flex;
}

.title .left h3{
    font-size: 30px;
    line-height: 42px;
    margin-right: 35px;
}

.title .left p {
    color: #A1A1A1;
    align-self: flex-end;
}

.title .right a {
    display: flex;
    line-height: 42px;
}

.title .right p {
    margin-right: 10px;
    font-size: 16px;
    color: #A1A1A1;
}

.title .right .iconfont {
    color: #A1A1A1;
    font-size: 12px;
}

/* 好物内容 -- 公共样式 */
.body ul {
    display: flex;
    justify-content: space-between;
}

.body ul li {
    width: 304px;
    height: 404px;
    background-color: #EEF9F4;
}

.body ul li .pic {
    width: 304px;
    height: 304px;
}

.body ul li .text {
    margin-top: 17.5px;
    margin-bottom: 8.5px;
    text-align: center;
    font-size: 20px;
}

.body ul li .price {
    font-size: 22px;
    color: #AA2113;
    text-align: center;
}

.body ul li .detail {
    text-align: center;
    color: #A1A1A1 ;
}

/* 热门品牌 */
/* 头部 */
.brand {
    margin-top: 60px;
    background-color: #F5F5F5;
    height: 468px;
}

.brand .head {
    position: relative;
    height: 122px;
    display: flex;
    align-items: flex-end;
    padding: 40px 0;
}

.brand .head h3 {
    font-size: 30px;
    margin-right: 35px;
}

.brand .head p {
    color: #A1A1A1;
}

.brand .head ul {
    position: absolute;
    bottom: 15px;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 52px;
}

.brand .head ul a {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #e2e2e2;
    line-height: 20px;
    text-align: center;
    cursor: initial;
}

.brand .head ul .active {
    background-color: #00be9a;
    cursor: pointer;
}

.brand .head ul .iconfont {
    color: white;
}

/* 内容 */
.brand .content ul {
    height: 306px;
    display: flex;
    justify-content: space-between;
}

.brand .content ul li {
    width: 244px;
    height: 306px;
}

/* 大主题 */
.big-theme {
    margin-top: 20px;
}

/* 头部 */
.big-theme .head {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.big-theme .head h3 {
    font-size: 30px;
}

.big-theme .head .right {
    display: flex;
}

.big-theme .head ul {
    display: flex;
    width: 358px;
    margin-right: 58px;
}

.big-theme .head ul li {
    padding: 0 7px;
    /* width: 46px; */
    height: 20px;
    line-height: 20px;
}

.big-theme .head ul .active {
    background-color: #00be9a;
}

.big-theme .head ul .active a {
    color: white;
}

.big-theme .more span {
    color: #A1A1A1;
    margin-right: 10px;
}

.big-theme .more .iconfont {
    font-size: 16;
    color: #A1A1A1;
}


/* 内容 */

.big-theme .content {
    display: flex;
}

/* 左侧 */
.big-theme .content .left img {
    width: 248px;
    height: 610px;
    margin-right: 24px;
}

/* 右侧 */
.big-theme .content .right {
    display: flex;
}

.big-theme .content .right ul {
    display: flex;
    flex-wrap: wrap;
}

.big-theme .content .right li {
    display: flex;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    width: 242px;
    height: 305px;
    border: #fff solid 2px;
}

.big-theme .content .right li img {
    width: 200px;
    height: 180px;
    margin: 10px 21px;
}

.big-theme .content .right li h4 {
    margin: 0 21px 7px 21px;
    height: 57px;
    overflow: hidden;

}

.big-theme .content .right ul li div {
    margin: 0 21px 0px 21px;
    color: #AF2F22;
}

.big-theme .content .right li div span {
    font-size: 22px;
}

/* 产品底部过渡区域 */
.big-theme .content .right li .cover {
    position: absolute;
    left: 0;
    bottom: -86px;
    width: 242px;
    height: 84px;
    margin-left: 0;
    color: white;
    background-color: #00BE9A;
    text-align: center;
    padding-top: 15px;
    transition: all 0.5s;
}

.big-theme .content .right li .cover p:first-child {
    font-size: 18px;
}

.big-theme .content .right li .cover p:nth-child(2) {
    width: 120px;
    height: 0.5px;
    margin: 3px auto 6px;
    background-color: rgba(255, 255, 255, 0.11);
}

.big-theme .content .right li .cover p:last-child {
    font-size: 13px;
}

.big-theme .content .right li .cover .iconfont {
    font-size: 10px;
}

.big-theme .content .right li:hover .cover {
    bottom: 0;
}

.big-theme .content .right li:hover {
    border: #00BE9A solid 2px;
}

/* 最新专题 */
/* head */
.news {
    margin-top: 100px;
    margin-bottom: 40px;
    height: 427px;
}

.news .head {
    display: flex;
    justify-content: space-between;
    line-height: 42px;
    margin-bottom: 30px;
}

.news .head h3 {
    font-size: 30px;
    line-height: 42px;
}

.news .head span {
    color: #A1A1A1;
}

.news .head .right {
    line-height: 42px;
}

.news .head .right .iconfont {
    font-size: 16px;
    color: #A1A1A1;
}

/* content */
.news .content ul {
    display: flex;
    justify-content: space-between;
}

.news .content li {
    position: relative;
    width: 405px;
    height: 355px;
}

.news .content .foot {
    display: flex;
    justify-content: space-between;
    width: 405px;
    height: 67px;
    padding: 23px 15px 0;
    font-size: 14px;
    color: #666666;
}

.news .content .foot .left {
    display: flex;
    justify-content: space-between;
    width: 118px;
}

.news .content .foot .icon-favorites-fill {
    color: red;
}

/* 图片上文字 */
.news .content img {
    width: 405px;
    height: 288px;
}

.news .content .cover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 198px;
    left: 0;
    width: 405px;
    height: 90px;
    padding: 20px 15px 13.5px;
    background-image: linear-gradient(180deg, rgba(137,137,137,0.00) 0%, rgba(0,0,0,0.90) 100%);
    /* background-color: red; */
    color: white;
}

.news .content .cover .left h4 {
    font-size: 20px;
    margin-bottom: 6px;
}

.news .content .cover .right {
    width: 79px;
    height: 25px;
    color: #AA2113;
    background-color: #fff;
    font-size: 18px;
    line-height: 25px;
}