/* 首页内容样式 */

/* banner */
.banner {
    height: 500px;
    background-color: #F5F5F5;
}

.banner .wrapper {
    position: relative;
    height: 500px;
    overflow: hidden;
    /* background-color: yellowgreen; */
}

.banner .wrapper .pic {
    display: flex;
    /* flex布局 避免子级被挤小 1240*3 */
    width: 3720px;
}

/* 侧导航 */
.banner .wrapper .subnav {
    position: absolute;
    width: 250px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.42);
    top: 0;
    left: 0;
}

.banner .wrapper .subnav li {
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    padding-right: 12px;
    cursor: pointer;
}

.banner .wrapper .subnav li a {
    color: #fff;
    font-size: 14px;
    margin-right: 5px;
}

.banner .wrapper .subnav li .banner-title {
    font-size: 16px;
    margin-right: 14px;

}

.banner .wrapper .subnav li .iconfont {
    font-size: 12px;
    color: #fff;
}

.banner .wrapper .subnav li:hover {
    background-color: #00BE9A;
}

.banner ol {
    display: flex;
    position: absolute;
    bottom: 17px;
    right: 16px;
}

.banner ol li {
    width: 22px;
    height: 22px;
    /* background-color: pink; */
    border-radius: 50%;
    margin-left: 8px;
    cursor: pointer;
}

.banner ol i {
    margin: 4px;
    display: block;
    width: 14px;
    height: 14px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.banner ol .active {
    background-color: rgba(255, 255, 255, 0.5);
}
.banner ol .active i {
    background-color: #fff;
}


/* 新鲜好物 */
/* 标题 -- 公共样式*/
.title {
    display: flex;
    justify-content: space-between;
    height: 42px;
    /* background-color: greenyellow; */
    margin-top: 40px;
    margin-bottom: 30px;
}

.title .left {
    display: flex;
}

.title .left h3{
    font-size: 30px;
    line-height: 42px;
    margin-right: 35px;
}

.title .left p {
    color: #A1A1A1;
    align-self: flex-end;
}

.title .right a {
    display: flex;
    line-height: 42px;
}

.title .right p {
    margin-right: 10px;
    font-size: 16px;
    color: #A1A1A1;
}

.title .right .iconfont {
    color: #A1A1A1;
    font-size: 12px;
}

/* 好物内容 -- 公共样式 */
.body ul {
    display: flex;
    justify-content: space-between;
}

.body ul li {
    width: 304px;
    height: 404px;
    background-color: #EEF9F4;
}

.body ul li .pic {
    width: 304px;
    height: 304px;
}

.body ul li .text {
    margin-top: 17.5px;
    margin-bottom: 8.5px;
    text-align: center;
    font-size: 20px;
}

.body ul li .price {
    font-size: 22px;
    color: #AA2113;
    text-align: center;
}

.body ul li .detail {
    text-align: center;
    color: #A1A1A1 ;
}